@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1773155244199') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e66a";
}

.icon-pinglun:before {
  content: "\e662";
}

.icon-zan:before {
  content: "\e870";
}

.icon-wenjianjia:before {
  content: "\e689";
}

.icon-shejiaotubiao-42:before {
  content: "\e647";
}

.icon-weixin:before {
  content: "\e607";
}

